/* убери все комментарии перед отправкой */

@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap"); /* Import font */

body {
  margin: 0;
  padding: 0;
  outline: none;
  /* height: 9000px; */
  font-family: "PT Sans", sans-serif;
}

a,
a:visited,
a:focus {
  text-decoration: none;
  color: blue;
}

a:active /* :active означает когда ссылка нажата */ {
  color: #000;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

.wrapper {
  position: fixed;
  height: 100px;
  width: 100%;
  top: 0;
  z-index: 99;
}

.nav {
  position: fixed;
  width: 100%;
  top: 0;
  background-color: #c82138;
  -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}

.logo img {
  width: 54px;
  height: 52px;
}

.nav header {
  display: flex;
  padding: 15px;
  display: -webkit-flex;
}

.site-content {
  margin-top: 100px;
  padding: 20px;
}

.card {
  max-height: 600px;
  padding: 30px;
  display: flex;
  justify-content: space-between;
}

.info .description {
  width: 75%;
}

.card .description {
  color: #959595;
}

div.img.no_image {
  background-image: url(../assets/no-img.svg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 149px;
  height: 200px;
}

div.arrow-up {
  background-image: url(../assets/up-arrow-chevron.svg);
}

/*  */

.hero_description--content {
  width: 100%;
  max-width: 667px;
}

.hero_description--list {
  font-size: 0;
}

.hero_description--list > dt {
  display: inline-block;
  vertical-align: top;
  width: 33%;
  padding: 0 3% 0 0;
  margin: 0 0 8px;
  font-size: 16px;
  font-weight: bold;
}

.hero_description--list > dd {
  width: 67%;
  display: inline-block;
  margin: 0 0 8px;
  vertical-align: top;
  font-size: 16px;
}

.reward {
  background-color: #f0f0f0;
  border-radius: 16px;
  padding: 33px 10px;
  max-width: 200px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  -webkit-box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
}

.rewards {
  display: grid;
  flex-direction: row;
  grid-template: auto auto auto / auto auto auto;
  /* grid-gap: 20px; */
  /* grid-column: auto; */
  gap: 20px;
  padding: 10px;
}

@media (max-width: 480px) {
  .card {
    display: flex;
    flex-direction: column;
  }
  .card .img {
    margin-top: 10px;
  }

  .hero_description-element {
    margin-left: 0 !important;
    display: block !important;
  }

  .hero_description--list > dd {
    display: block;
  }

  .rewards > .reward {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    width: 100%;
    -webkit-box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.2);
  }

  .rewards {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  #hero_more_detail {
    margin-top: 0;
  }
}
